<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>customerRegistry</title>
    <link rel="icon" href="./img/panda.png">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>

<div class="container">
    <div>
        <form id="customer-registry-form" th:action="@{/customerRegistry}" method="post" role="form">
            <div class="form-group">
                <label class="control-label">
                    <apollorequiredfield></apollorequiredfield>
                    {{'Common.Department' | translate }}</label>
                <div>
                    <select id="organization">
                        <option></option>
                    </select>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>
